fieldset.ad {
    margin-bottom: 2rem;
    border: 1px solid #eee;
}

.ad p {
    margin: 0.25rem 0;
}

.ad legend {
    font-family: signpainter, times, serif;
    font-style: italic;
    font-size: 2rem;
    padding-right: 0.8rem;
    padding-left: 0.5rem;
    line-height: 1.1;
}

fieldset legend {
    border: 1px solid #eee;
}

fieldset.ad {
    font-family: 'ubuntu mono', courier;
}

.ad-plug {
    font-size: 8px !important;
    color: #eee;
}

.ad-plug a {
    color: #eee;
}

@media only screen and (max-width: 480px) {
    fieldset.ad { display: none; }
}
