@media only screen and (max-width: 480px) {
	div#wrapper {
		padding: 0;
		padding-bottom: 2em;
		margin: 0;
		min-width: 100%;
		max-width: 100%;
	}

	html {
		-webkit-text-size-adjust: none;
	}

	body {
		margin: 0;
		padding: 0;
	}

	div#inside {
		margin: 0;
	}

	.box {
		margin: 0 8px;
	}

	div.legend {
		margin-top: 0.5em;
	}

	ol.comments {
		margin-left: 10px;
	}
	ol.comments1 {
		margin-left: 0;
		padding-left: 15px;
	}

	div.voters {
		margin-left: 0.25em;
		margin-top: 0px;
		width: 31px;
	}
	div.voters a.upvoter {
		margin-top: -5px;
	}

	div.comment_form_container, h2.commentsbegin {
		margin-left: 1.75em;
	}

	div.voters a.upvoter,
	div.voters a.downvoter {
		margin-left: 6px;
		border-width: 9px;
	}

	ol.stories.list {
		margin-top: 0;
	}

	ol.stories.list li.story {
		border-bottom: 1px solid #e0e0e0;
		display: table;
	}
	ol.stories.list li.story div.story_liner {
		background-color: #fbfbfb;
		display: table-cell;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
		width: 100%;
	}
	ol.stories.list li.story span.comments_label {
		display: none;
	}


	li div.details,
	div.story_content {
		margin-left: 36px;
		margin-right: 20px;
	}

	.home .story_content {
		display: none;
	}

	div.morelink {
		margin-left: 36px;
	}
	li.story div.byline {
		font-size: 10pt;
	}

	div.box label,
	div.boxline label {
		display: block;
		width: 100% !important;
	}

	div.boxline textarea,
	div.boxline input[type="text"],
	div.comment textarea {
		max-width: 90%;
	}

	div.markdown_help_label {
		display: none;
	}
	div.markdown_help_label_mobile {
		display: inline !important;
		margin-right: 2em;
	}

	div#story_box input,
	div#story_box button,
	div#story_box textarea,
	div#story_box #story_tags_a,
	div.markdown_help_toggler {
		margin: 0 !important;
		width: 100% !important;
	}

	div#story_box #story_tags_a {
		min-width: 305px !important;
	}

	div#gravatar {
		float: none;
	}

	div#user_about {
		margin-left: 0;
	}

    fieldset.ad {
        margin-left: 0px;
        margin-top: 0.5rem;
    }
}
