.details {
	margin-left: 30px;
}

.details .domain {
    padding-left: 10px;
    display: inline-block;
}

.details .tags {
    display: inline-block;
    margin-left: -3px;
}

a.tag, span.tags::before {
    display: inline-block;
    margin: 4px 0;
}

a.tag {
    padding: 3px 5px;
}

.f32 {
    display: none;
}

.f32 .flag {
    display: block;
    width: 32px;
    height: 32px;
}

li .domain::before {
    content: '[';
}

li .domain::after {
    content: ']';
}

.story_text {
    padding-bottom: 0.5rem;
}

.story_text p {
	margin: 0.75rem 0;
}

body {
	line-height: 1.2;
}

.link .dquo {
    margin-left: -8px;
}

.amp {
    font-family: Baskerville, "Goudy Old Style", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 0.8em;
}

#header h1 {
	margin: 0 0 1rem 22px;
	padding: 0px;
}

blockquote {
    margin-left: 2rem;
}

/* outliners */

div#wrapper {
	margin-left: auto;
	margin-right: auto;
	padding: 5px 10px;
	max-width: 600px;
    width: 100%;
    background: white;
}

